<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-4.2.xsd
                           http://www.springframework.org/schema/data/jpa
                           http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

    <context:component-scan base-package="com.epam.rd.backend.core.service"/>
    <!--TODO !!! should I declare all services as bean-->
    <!--<context:property-placeholder location="classpath:app-config.properties"/>-->
    <jpa:repositories base-package="com.epam.rd.backend.core.repository"/>

    <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer"/>

    <!--<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">-->
        <!--<property name="locations" value="classpath:app-config.properties"/>-->
    <!--</bean>-->

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"
          p:driverClassName="org.h2.Driver"
          p:url="jdbc:h2:mem:rd_ms_db;DATABASE_TO_UPPER=false;DB_CLOSE_DELAY=-1"
          p:username="sa"
          p:password="">
    </bean>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
          p:dataSource-ref="dataSource"
          p:packagesToScan="com.epam.rd.backend.core.model">
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
        </property>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.H2Dialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">create</prop>
            </props>
        </property>
        <property name="persistenceProvider">
            <bean class="org.hibernate.jpa.HibernatePersistenceProvider"/>
        </property>
    </bean>

    <bean class="org.springframework.orm.jpa.JpaTransactionManager"
          p:entityManagerFactory-ref="entityManagerFactory">
    </bean>

    <!--services-->

    <bean id="lectureService" class="com.epam.rd.backend.core.service.impl.LectureServiceImpl"
         p:lectureRepository-ref="lectureRepository"/>

    <bean id="moduleService" class="com.epam.rd.backend.core.service.impl.ModuleServiceImpl"
          p:moduleRepository-ref="moduleRepository"/>

    <bean id="practicalTaskService" class="com.epam.rd.backend.core.service.impl.PracticalTaskServiceImpl"
          p:practicalTaskRepository-ref="practicalTaskRepository"/>

</beans>